{{!-- Partial à insérer dans une form pour etre utilisé pour modifier l'utilisateur --}}
<section class="platform-chkbox">
    <label for="favConsole">Favourite Platforms </label>
    <div class="platform-div hidden">
        {{#each platform}}
        <div class="chkbox-container">

            <label for="{{this}}">
                <input type="checkbox" id="{{this}}" name="favConsole" value="{{this}}">
                <div class="checkbox-custom">
                    <div class="circle"></div>
                </div>
                {{this}}
            </label>
        </div>
        {{/each}}
    </div>
</section>