<section class="genre-chkbox">
    <label for="favGenre">Favourite Genre </label>
    <div class="genre-div hidden">
        {{#each genre}}
        <div>
            <input type="checkbox" id="{{this}}" name="favGenre" value="{{this}}">
            <label for="{{this}}">{{this}}</label>
        </div>
        {{/each}}
    </div>
</section>