<section class="genre-chkbox">
    <label for="favGenre">
        <div class="checkbox-title">Favourite Genre</div>
    </label>
    <div class="genre-div hidden">
        {{#each genre}}
        <div class="chkbox-container">
            <label for="{{this}}">
                <input type="checkbox" id="{{this}}" name="favGenre" value="{{this}}">
                <div class="checkbox-custom">
                    <div class="circle"></div>
                </div>
                {{this}}
            </label>
        </div>
        {{/each}}
    </div>
</section>