<footer>
    <div>Developed by <a href="https://www.linkedin.com/in/vincent-proum-2806814b/">Vincent Proum</a>, <a
            href="https://www.linkedin.com/in/timoth%C3%A9e-nicole-78496a133/">Timothée Nicole</a> and <a
            href="https://www.linkedin.com/in/maximilian-j-gruber/">Max Gruber</a>
    </div>
</footer>