<div class="topnav" id="myTopnav">
    <a href="/" class="active">Home</a>
    <a href="/games/collection">Collection</a>
    <a href="#login">Sign In</a>
    <a href="#logout">Sign Out</a>
    <a href="/signup">Sign Up</a>
    <a href="#about">About</a>
    {{#if isLoggedIn}} /* this show only if you are logged in */
    <a href="/user/edit">Manage account</a>
    {{/if}}
    <a href="javascript:void(0);" class="icon" onclick="navbarCollapse()">
        <i class="fa fa-bars"></i>
    </a>
</div>