<div class="topnav" id="myTopnav">
    <a href="/" class="active">Home</a>
    <a href="/games/collection">Catalogue</a>
    {{#if isLoggedIn}}
    <a href="/my-collection">My Collection</a>
    <a href="/user/edit">Manage account</a>
    <a href="/signout">Log out</a>
    {{else}}
    <a href="/signin">Log In</a>
    <a href="/signup">Sign Up</a>
    {{/if}}

    {{#if isAdmin}}
    <a href="/users">Users</a>
    {{/if}}

    <a href="javascript:void(0);" class="icon">
        <i class="fa fa-bars"></i>
    </a>
</div>