<div class="topnav" id="myTopnav">
    <a href="#home" class="active">Home</a>
    <a href="#games">Games</a>
    <a href="#collection">Collection</a>
    <a href="#login">Sign In</a>
    <a href="#logout">Sign Out</a>
<<<<<<< HEAD
    <a href="/signup">Sign Up</a>
=======
    <a href="#singup">Sign Up</a>
    <a href="#about">About</a>
>>>>>>> c25dd342a0531d92a81a5daad74897047f54078f
    <a href="javascript:void(0);" class="icon" onclick="navbarCollapse()">
        <i class="fa fa-bars"></i>
    </a>
</div>