<div class="horizontal-container">
    <div class="filter-bar">
        {{> filterBar}}
    </div>
    <div class="games-display">
        {{#each games}}
        {{> game_item}}
        {{/each}}
    </div>
</div>