<div id="searchfield">
    {{>searchBar}}
</div>
<header class="header">
    <div class="title-container">
        <h1 class="introduction-title">Welcome to EKAM Games</h1>
        <h3 class="slogan">Where your gaming can be shared</h3>
    </div>
</header>
<main class="values-grid">
    <div class="values-container">
        <h3 class="value-title">A vast library of games</h3>
        <h5 class="value-intro">Explore more than 350 000+ games</h5>
        <p class="value-explanation">Search by name, genre or platform to find any game you may like.</p>
    </div>
    <div class="values-container">
        <h3 class="value-title">Manage your account</h3>
        <h5 class="value-intro">Keep the world updated on your current gaming status</h5>
        <p class="value-explanation">Use your account to show off your completed games or even add games to your
            wishlist.</p>
    </div>
    <div class="values-container">
        <h3 class="value-title">Let us recommend some games!</h3>
        <h5 class="value-intro">"I'm feeling lucky!" throwback</h5>
        <p class="value-explanation">We can help you with your choices depending on your tastes and moods.</p>
    </div>
</main>