
<header class="header">
    <div class="title-container">
        <h1 class="introduction-title">Welcome to EKAM Games</h1>
        <h3 class="slogan">Manage your video game collection in a few clicks</h3>
        <a class="homeAnchor" href="/signup">Try now</a>
    </div>
</header>
<section class="about">
    <div>
        <h2 class="titleDecription"><span class="homeSpan">Easy</span> to use and <span class="homeSpan">useful</span>
            to share</h3>
            <p class="aboutIt">EKAM Games is a free platform working with a library of 350 000+ video games <br>
                After creating your account, go to the catalogue and review all the games you have, the games you
                finsihed, and the ones you wish to have! <br>
                Then reviewing and updating your collection is just a matter of minutes. <br><br>
                <a class="homeAnchor" href="/signup">Start your EKAM's experience now !</a><br><br>
            </p>
    </div>
</section>
<main class="values-grid">
    <div class="values-container">
        <h3 class="value-title">A vast library of games</h3>
        <h5 class="value-intro">Explore more than 350 000+ games</h5>
        <p class="value-explanation">Search by name, genre or platform to find any game you may like.</p>
    </div>
    <div class="values-container">
        <h3 class="value-title">Manage your account</h3>
        <h5 class="value-intro">Keep the world updated on your current gaming status</h5>
        <p class="value-explanation">Use your account to show off your completed games or even add games to your
            wishlist.</p>
    </div>
    <div class="values-container">
        <h3 class="value-title">Let us recommend some games!</h3>
        <h5 class="value-intro">"I'm feeling lucky!" throwback</h5>
        <p class="value-explanation">We can help you with your choices depending on your tastes and moods.</p>
    </div>
</main>