<header class="header">
    <div class="title-container">
        <h1 class="introduction-title">Welcome to EKAM Games</h1>
        <h3 class="slogan">Where your gaming can be shared</h3>
    </div>
</header>
<main class="values-grid">
    <div class="values-container">
        <h3 class="value-title">TITLE1</h3>
        <h5 class="value-intro">VALUE INTRO</h5>
        <p class="value-explanation">VALUE PRESENTATION</p>
    </div>
    <div class="values-container">
        <h3 class="value-title">TITLE2</h3>
        <h5 class="value-intro">VALUE INTRO</h5>
        <p class="value-explanation">VALUE PRESENTATION</p>
    </div>
    <div class="values-container">
        <h3 class="value-title">TITLE3</h3>
        <h5 class="value-intro">VALUE INTRO</h5>
        <p class="value-explanation">VALUE PRESENTATION</p>
    </div>
</main>