<div class="form-container signup">
    <form class="form " action="/signup" method="POST">
        <div class="signup-form">
            <h1>Sign Up</h1>


            <label for="username">Name</label>
            <input class="input" type="text" id="username" name="username" placeholder="Pierre Dupont" required><br>



            <label for="pseudo">Pseudo</label>
            <input class="input" type="text" id="pseudo" name="pseudo" placeholder="Cowburry17" required><br>



            <label for="email">Email</label>
            <input class="input" type="email" id="email" name="email" placeholder="monemail@mail.com" required><br>



            <label for="password"> Password</label>
            <input class="input" type="password" id="password" name="password" placeholder="•••••••" required><br>


            <button class="signupBtn">Create Account!</button>
            <p>{{error}}</p>
    </form>
    <p class="already">Already have an account ? <a href="/signin">Log In</a></p>

    <p class="terms">By Signing up, you agree to EKAM's <a href="#">Terms of Services</a> and <a href="#">Privacy
            Policy</a></p>
</div>
</div>