<div class="form-container-signin">


    <form class="signup-form" action="/signin" method="POST">
        <h1>Log In</h1>
        <label for="email">Email</label>
        <input type="email" name="email" id="email">

        <label for="password">Password</label>
        <input type="password" name="password" id="password">
        <div id="btn-container">
            <button class="signInBtn">Log In</button>
        </div>
        <p>{{error}}</p>
        <p>Don't have an account yet? <a href="/signup" class="sign-up-link">Go to the Sign up page! </a></p>
    </form>


</div>