<h1>Welcome to the log in page</h1>signin 

<form action="/signin" method="POST">

    <label for="">Email</label>
    <input type="text" name=>

    <label for="">Password</label>
    <input type="password">

</form>