<div class="form-container">
    <h1>Sign Up</h1>
    <form class="form" action="/signup" method="POST">
        <label for="username">Name : </label>
        <input class="input" type="text" id="username" name="username" placeholder="Pierre Dupont"><br>

        <label for="pseudo">Pseudo : </label>
        <input class="input" type="text" id="pseudo" name="pseudo" placeholder="Cowburry17"><br>

        <label for="email">Email : </label>
        <input class="input" type="email" id="email" name="email" placeholder="monemail@mail.com"><br>

        <label for="password"> Password : </label>
        <input class="input" type="password" id="password" name="password" placeholder="•••••••"><br>

        <button>Create Account!</button>
        <p>{{error}}</p>
    </form><br>
    <p>Already have an account ? <a href="/signin">Log In</a></p>

    <p>By Signing up, you agree to EKAM's Terms of Services and Privacy Policy</p>
</div>