/* .games-display {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    grid-gap: 10px;
} */

.games-display {
    background: rgba(0, 0, 0, 0.3);
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
    height: 90vh;
    overflow: scroll;
    width: 100%;
}

