/* .games-display {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    grid-gap: 10px;
} */

.games-display {
  background-image: url("../images/tetris-signup.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
  height: 90vh;
  overflow: scroll;
  width: 100%;
}

.game-container {
  border: 3px solid black;
  border-radius: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5px;
}

.game-title {
  color: black;
  font-size: 0.7em;
  text-align: center;
}

img.game-poster {
  height: auto;
  width: 100px;
}

.genre,
.platforms {
  color: grey;
  font-size: 0.5em;
  text-align: center;
}

.platform-chkbox,
.genre-chkbox {
  width: 45%;
  text-align: center;
}

.platform-div,
.genre-div {
  position: absolute;
  z-index: 1;
  background: rgba(255, 255, 255, 0.8);
  width: 45%;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  justify-content: center;
  align-items: center;
  padding-right: 0px;
}

.platform-div label,
.genre-div label {
  font-size: 1em;
  text-align: center;
}

input[type="checkbox"] {
  display: none;
}

.checkbox-custom .circle {
    width: 50%;
    border-radius: 50%;
    margin-left: 0;
    height: 100%;
    background: rgb(189, 0, 0);
    transition: all 1s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

input[type="checkbox"]+.checkbox-custom {
    box-sizing: border-box;
    width: 3rem;
    height: 1.5rem;
    border-radius: 1.5rem;
    padding: 2px;
    background-color: #c0ceda;
    margin: 0 auto;
    margin-top: 5px;
}


/* input[type="checkbox"]+label::before {
    box-sizing: border-box;
    display: block;
    content: "";
    height: calc(1.5rem - 4px);
    width: calc(1.5rem - 4px);
    border-radius: 50%;
    background-color: #fff;
    transition: all 0.5s;
} */

input[type="checkbox"]:checked+.checkbox-custom .circle {
    margin-left: 50%;
}

input[type="checkbox"]:checked+.checkbox-custom {
    background: dodgerblue;
}

.checkbox-custom {
    box-sizing: border-box;
    display: block;
    content: "";
    height: calc(1.5rem - 4px);
    width: calc(1.5rem - 4px);
    border-radius: 50%;
    background-color: #fff;
    transition: all 0.5s;
}

/* .chkbox-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40px;
} */
