.header {
  background-image: url("https://i.pinimg.com/originals/75/cf/3f/75cf3f91365a91bd323c607b911a532b.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}

.title-container {
  padding: 7% 10px 15% 60%;
}

.introduction-title {
  font-size: 42px;
  color: white;
  margin: 0;
}

.slogan {
  font-size: 0.7em;
  color: white;
}

#searchfield {
  display: flex;
  justify-content: center;
}

.values-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(33%, 1fr));
}

.values-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.value-title {
  color: black;
}

.value-intro {
  color: grey;
}

.value-explanation {
  color: black;
}
