.tableImage {
    width: 10vw;
}

thead {
    background-color: rgb(189, 0, 0);
    color: whitesmoke;
}
table {
    /* display: flex; */
    width: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    /* border: 1px solid black; */
    border: 1px solid black;
    margin-bottom: 10vh;
    background-color: white;
}
th {
    border: 1px solid black;
    padding: 0.5vw 1vw;
}
td {
    border: 1px solid black;
    padding: 0.5vw 1vw;
}
tbody {
    background-color: whitesmoke;
}



