.tableImage {
    width: 10vw;
}

thead {
    background-color: rgb(189, 0, 0);
    color: whitesmoke;
}
table {
    /* display: flex; */
    width: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    /* border: 1px solid black; */
    border: 1px solid black;
    margin-bottom: 10vh;
    background-color: white;
    border-collapse: collapse;
}
th {
    border: 1px solid black;
    padding: 0.5vw 1vw;
}
td {
    border: 1px solid black;
    padding: 0.5vw 1vw;
}
tbody {
    background-color: whitesmoke;
}

@media 
only screen and (max-width: 750px),
(min-device-width: 100px) and (max-device-width: 750px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
        position: absolute;
		top: -9999px;
        left: -9999px;
        margin: 2px
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
        position: relative;
		padding-left: 50%; 
    }
    td:before { 
		/* Now like a table header */
        position: absolute;
        display: flex;
        align-items: center;
        /* Top/left values mimic padding */
        text-align: center;
        justify-content: center;
        vertical-align: 50%;
		top: 2%;
		left: 6px;
        width: 45%; 
        height: 90%;
        background-color: rgb(189, 0, 0);
        color: white;
        border: 1px solid black;
        padding-right: 10px; 
        margin: 2px;
		white-space: nowrap;
    }
    td:nth-of-type(1):before { content: "cover";}
	td:nth-of-type(2):before { content: "Title";}
	td:nth-of-type(3):before { content: "Genre";}
	td:nth-of-type(4):before { content: "Platforms";}
	td:nth-of-type(5):before { content: "Delete";}



