.display-one-game {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.single-game {
  margin: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.single-game-poster {
  width: 300px;
  height: auto;
}

.single-game-title {
  font-size: 1.5em;
  margin: 1%;
  color: black;
}

.single-genre {
  font-size: 0.9em;
  color: grey;
  margin: 1%;
}

.single-platforms {
  font-size: 0.9em;
  color: grey;
  margin: 1%;
}

.screenshot-grid {
  display: grid;
  grid-template-columns: auto;
  margin: 5% 0;
}

.single-game-screenshot {
  width: 100px;
  height: auto;
}

iframe {
  margin: 5%;
}

.single-game p {
  padding: 3%;
  box-shadow: 1.2px 0.6px 1.5px darkblue;
  border-radius: 0.3rem;
  background-color: darkgray;
}
